<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.blog.Makeblog.repository.BlogMapper">

    <resultMap id="boardMap" type="com.project.blog.Makeblog.domain.Blog">
        <result property="serialNo" column="serial_no"/>
        <result property="boardNo" column="board_no"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardContent" column="board_content"/>
        <result property="boardViewCnt" column="board_view_cnt"/>
        <result property="boardDate" column="board_date"/>
        <result property="categoryNo" column="category_no"/>
    </resultMap>


    <select id="getSearchArticles" resultMap="boardMap">
        <!-- CDATA로 감싸는 이유는 마크업 내부에서 특수문자를 문자로 인식시키기 위함.
            이 안에 태그는 다 인식 안된다. 문자로 인식 되는 특징 있음. -->
        <![CDATA[
            SELECT
            board_no, writer, title, content, reg_date, view_cnt
            FROM
            (SELECT  /*+INDEX_DESC(board pk_board)*/
            rownum rn, board_no, title, writer, content, reg_date, view_cnt
            FROM board
            WHERE 1=1
            ]]>
        <if test="type == 'title'">
            AND title LIKE '%'|| #{keyword} || '%'
        </if>
        <if test="type == 'content'">
            AND content LIKE '%'|| #{keyword} || '%'
        </if>
        <if test="type == 'writer'">
            AND writer LIKE '%'|| #{keyword} || '%'
        </if>
        <if test="type == 'titleContent'">
            AND title LIKE '%'|| #{keyword} || '%'
            OR content LIKE '%'|| #{keyword} || '%'
        </if>

        <![CDATA[
                AND rownum <= #{pageNum} * #{amount})
            WHERE rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>

    <!-- 총 게시물 수 조회 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM board
        WHERE 1=1
        <if test="type == 'title'">
            AND title LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'content'">
            AND content LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'writer'">
            AND writer LIKE '%' || #{keyword} || '%'
        </if>
        <if test="type == 'titleContent'">
            AND title LIKE '%' || #{keyword} || '%'
            OR content LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <!--  인터페이스에서 ()에 적은거 넣어야해~!!  -->
    <select id="getContent" resultMap="boardMap">
        SELECT * FROM board
        WHERE board_no = #{boardNo}
    </select>

    <insert id="insertArticle">
        INSERT INTO board
        (serial_no, board_no, board_title, board_content, category_no)
        VALUES
        (seq_board.nextval, #{boardNo} ,#{boardTitle}, #{boardContent}, #{categoryNo})
    </insert>

    <delete id="deleteArticle">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="modifyArticle">
        UPDATE board SET
        title = #{title}, content = #{content}
        WHERE board_no = #{boardNo}
    </update>

    <!--  조회수 상승 SQL  -->
    <update id="upViewCount">
        update board
        set view_cnt = view_cnt + 1
        where board_no = #{boardNo}
    </update>


</mapper>